.title{
  font-size: xx-large;
  text-align: center;
}
.main img {
  width: 300px;
  vertical-align: middle;
}

.main{
  text-align: center;
}

.main button{
  font-size: 24px;
}
.thumbnails {
  text-align: center;
}

.thumbnails img {
  width: 50px;
  margin: auto;
  vertical-align: middle;
  opacity: 0.5;
}

.thumbnails img.selected{
  opacity: 1.0;
}
